# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Large ML files
*.pkl
*.joblib
*.h5
*.pt
*.pth

# Logs
*.log